main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.upload-form {
    background-color: #fff;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form label {
    display: block;
    font-weight: bold;
}

.upload-form input[type="file"] {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-top: 20px;
    box-sizing: border-box;
}

.upload-form button {
    background-color: lightgoldenrodyellow;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#uploadButton {
    background-color: #4caf50;
    color: #fff;
}

.upload-form button:hover {
    background-color: #45a049;
}

#selected-files {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

#history {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#historyContent {
    width: auto;
    height: auto;
}
